@model WE_Project.Models.comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.comment_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.account.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idea.idea_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idea.idea_content)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.comment_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
